docs/linkablen8n.json
{
  "name": "LinkAble 상품 자동 등록 (Schedule)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api-gateway.coupang.com/v2/providers/affiliate_open_api/apis/openapi/products/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "보조기기"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-1",
      "name": "쿠팡 API 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// 쿠팡 API 응답을 Supabase 형식으로 변환\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // 쿠팡 API 응답 구조에 따라 조정 필요\n  if (data.data && Array.isArray(data.data)) {\n    for (const product of data.data) {\n      // ISO 코드 자동 매핑\n      function getIsoCode(keyword) {\n        if (!keyword) return \"15 09\";\n        const k = String(keyword).toLowerCase();\n        if (k.includes(\"식기\") || k.includes(\"식사\")) return \"15 09\";\n        if (k.includes(\"휠체어\") && !k.includes(\"전동\")) return \"12 22\";\n        if (k.includes(\"전동\") && k.includes(\"휠체어\")) return \"12 23\";\n        if (k.includes(\"경사로\") || k.includes(\"승강기\")) return \"18 30\";\n        if (k.includes(\"체위\") || k.includes(\"리프트\")) return \"12 31\";\n        if (k.includes(\"청각\") || k.includes(\"보청기\")) return \"21 06\";\n        if (k.includes(\"의사소통\")) return \"22 30\";\n        if (k.includes(\"지팡이\") || k.includes(\"보행기\")) return \"12 06\";\n        return \"15 09\";\n      }\n      \n      function getPrice(price) {\n        if (!price) return null;\n        if (typeof price === 'number') return price;\n        const num = String(price).replace(/[^0-9]/g, '');\n        return num ? parseInt(num) : null;\n      }\n      \n      results.push({\n        json: {\n          name: product.productName || product.name || \"상품명 없음\",\n          iso_code: getIsoCode(product.productName || product.keyword),\n          purchase_link: product.productUrl || product.link || null,\n          image_url: product.productImage || product.image || null,\n          price: getPrice(product.productPrice || product.price),\n          manufacturer: product.brand || product.vendor || null,\n          category: \"coupang\",\n          description: product.description || null,\n          is_active: true\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "code-transform-1",
      "name": "쿠팡 → Supabase 변환",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "split-batch-1",
      "name": "배치 처리",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "filters": {
          "conditions": [
            {
              "fieldName": "name",
              "condition": "equals",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldName": "iso_code",
              "condition": "equals",
              "fieldValue": "={{ $json.iso_code }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-get-1",
      "name": "중복 체크",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      },
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-1",
      "name": "기존 상품 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "filters": {
          "conditions": [
            {
              "fieldName": "id",
              "condition": "equals",
              "fieldValue": "={{ $('중복 체크').first().json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('쿠팡 → Supabase 변환').first().json.name }}",
            "iso_code": "={{ $('쿠팡 → Supabase 변환').first().json.iso_code }}",
            "purchase_link": "={{ $('쿠팡 → Supabase 변환').first().json.purchase_link }}",
            "image_url": "={{ $('쿠팡 → Supabase 변환').first().json.image_url }}",
            "price": "={{ $('쿠팡 → Supabase 변환').first().json.price }}",
            "manufacturer": "={{ $('쿠팡 → Supabase 변환').first().json.manufacturer }}",
            "category": "={{ $('쿠팡 → Supabase 변환').first().json.category }}",
            "description": "={{ $('쿠팡 → Supabase 변환').first().json.description }}",
            "is_active": "={{ $('쿠팡 → Supabase 변환').first().json.is_active }}",
            "updated_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "supabase-update-1",
      "name": "Supabase Update",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      },
      "position": [1450, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('쿠팡 → Supabase 변환').first().json.name }}",
            "iso_code": "={{ $('쿠팡 → Supabase 변환').first().json.iso_code }}",
            "purchase_link": "={{ $('쿠팡 → Supabase 변환').first().json.purchase_link }}",
            "image_url": "={{ $('쿠팡 → Supabase 변환').first().json.image_url }}",
            "price": "={{ $('쿠팡 → Supabase 변환').first().json.price }}",
            "manufacturer": "={{ $('쿠팡 → Supabase 변환').first().json.manufacturer }}",
            "category": "={{ $('쿠팡 → Supabase 변환').first().json.category }}",
            "description": "={{ $('쿠팡 → Supabase 변환').first().json.description }}",
            "is_active": "={{ $('쿠팡 → Supabase 변환').first().json.is_active }}"
          }
        },
        "options": {}
      },
      "id": "supabase-create-1",
      "name": "Supabase Create",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      },
      "position": [1450, 400]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait-1",
      "name": "대기 (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "쿠팡 API 호출", "type": "main", "index": 0 }]]
    },
    "쿠팡 API 호출": {
      "main": [[{ "node": "쿠팡 → Supabase 변환", "type": "main", "index": 0 }]]
    },
    "쿠팡 → Supabase 변환": {
      "main": [[{ "node": "배치 처리", "type": "main", "index": 0 }]]
    },
    "배치 처리": {
      "main": [
        [
          { "node": "중복 체크", "type": "main", "index": 0 },
          { "node": "대기 (Rate Limit)", "type": "main", "index": 0 }
        ]
      ]
    },
    "중복 체크": {
      "main": [[{ "node": "기존 상품 있음?", "type": "main", "index": 0 }]]
    },
    "기존 상품 있음?": {
      "main": [
        [
          { "node": "Supabase Update", "type": "main", "index": 0 }
        ],
        [
          { "node": "Supabase Create", "type": "main", "index": 0 }
        ]
      ]
    },
    "Supabase Update": {
      "main": [[{ "node": "대기 (Rate Limit)", "type": "main", "index": 0 }]]
    },
    "Supabase Create": {
      "main": [[{ "node": "대기 (Rate Limit)", "type": "main", "index": 0 }]]
    },
    "대기 (Rate Limit)": {
      "main": [[{ "node": "배치 처리", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}