docs/linkablen8n.json
{
  "name": "LinkAble 상품 등록 (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkable-products",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "webhookId": "linkable-products-webhook",
      "position": [250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"상품이 등록되었습니다.\", \"product_id\": $json.id } }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Webhook에서 받은 데이터를 Supabase 형식으로 변환\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json.body || item.json; // Webhook body 또는 직접 데이터\n  \n  // ISO 코드 자동 매핑\n  function getIsoCode(keyword) {\n    if (!keyword) return \"15 09\";\n    const k = String(keyword).toLowerCase();\n    if (k.includes(\"식기\") || k.includes(\"식사\")) return \"15 09\";\n    if (k.includes(\"휠체어\") && !k.includes(\"전동\")) return \"12 22\";\n    if (k.includes(\"전동\") && k.includes(\"휠체어\")) return \"12 23\";\n    if (k.includes(\"경사로\") || k.includes(\"승강기\")) return \"18 30\";\n    if (k.includes(\"체위\") || k.includes(\"리프트\")) return \"12 31\";\n    if (k.includes(\"청각\") || k.includes(\"보청기\")) return \"21 06\";\n    if (k.includes(\"의사소통\")) return \"22 30\";\n    if (k.includes(\"지팡이\") || k.includes(\"보행기\")) return \"12 06\";\n    return \"15 09\";\n  }\n  \n  // 가격 정규화\n  function getPrice(price) {\n    if (!price) return null;\n    if (typeof price === 'number') return price;\n    const num = String(price).replace(/[^0-9]/g, '');\n    return num ? parseInt(num) : null;\n  }\n  \n  return {\n    json: {\n      name: data.name || data.productName || data.title || \"상품명 없음\",\n      iso_code: data.iso_code || data.isoCode || getIsoCode(data.name || data.keyword),\n      purchase_link: data.purchase_link || data.purchaseLink || data.url || null,\n      image_url: data.image_url || data.imageUrl || data.image || null,\n      price: getPrice(data.price || data.productPrice),\n      manufacturer: data.manufacturer || data.brand || null,\n      category: data.category || data.platform || \"coupang\",\n      description: data.description || null,\n      is_active: data.is_active !== undefined ? data.is_active : true\n    }\n  };\n});"
      },
      "id": "code-1",
      "name": "데이터 변환",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "matchColumns": {
          "values": ["name", "iso_code"]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "iso_code": "={{ $json.iso_code }}",
            "purchase_link": "={{ $json.purchase_link }}",
            "image_url": "={{ $json.image_url }}",
            "price": "={{ $json.price }}",
            "manufacturer": "={{ $json.manufacturer }}",
            "category": "={{ $json.category }}",
            "description": "={{ $json.description }}",
            "is_active": "={{ $json.is_active }}",
            "updated_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "supabase-1",
      "name": "Supabase 저장",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      },
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-1",
      "name": "성공 체크",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "데이터 변환", "type": "main", "index": 0 }]]
    },
    "데이터 변환": {
      "main": [[{ "node": "Supabase 저장", "type": "main", "index": 0 }]]
    },
    "Supabase 저장": {
      "main": [
        [
          { "node": "성공 체크", "type": "main", "index": 0 }
        ]
      ]
    },
    "성공 체크": {
      "main": [
        [
          { "node": "응답", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}