docs/n8n-workflow-schedule.json
{
  "name": "LinkAble 상품 자동 등록 (HTML Extract)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://partners.coupang.com/#affiliate/ws/link/0/%EB%B3%B4%EC%A1%B0%EA%B8%B0%EA%B8%B0",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "쿠팡검색페이지",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "sourceData": "json",
        "dataPropertyName": "data",
        "extractionValues": {
          "values": [
            {
              "key": "name",
              "cssSelector": ".name",
              "returnValue": "text",
              "returnArray": true
            },
            {
              "key": "price",
              "cssSelector": ".price-value",
              "returnValue": "text",
              "returnArray": true
            },
            {
              "key": "image",
              "cssSelector": ".search-product-wrap-img img",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            },
            {
              "key": "link",
              "cssSelector": "a[href*='/products/']",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "html-extract",
      "name": "상품 정보 추출",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// HTML Extract 결과를 Supabase 형식으로 변환\n// HTML Extract는 각 필드가 배열로 반환됨: {name: [\"상품1\", \"상품2\"], price: [\"10000\", \"20000\"], ...}\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // HTML Extract는 각 필드를 배열로 반환하므로, 배열 길이를 확인\n  const names = Array.isArray(data.name) ? data.name : (data.name ? [data.name] : []);\n  const prices = Array.isArray(data.price) ? data.price : (data.price ? [data.price] : []);\n  const images = Array.isArray(data.image) ? data.image : (data.image ? [data.image] : []);\n  const links = Array.isArray(data.link) ? data.link : (data.link ? [data.link] : []);\n  \n  // 상품 개수 확인 (가장 긴 배열의 길이)\n  const productCount = Math.max(names.length, prices.length, images.length, links.length);\n  \n  // ISO 코드 자동 매핑\n  function getIsoCode(keyword) {\n    if (!keyword) return \"15 09\";\n    const k = String(keyword).toLowerCase();\n    if (k.includes(\"식기\") || k.includes(\"식사\")) return \"15 09\";\n    if (k.includes(\"휠체어\") && !k.includes(\"전동\")) return \"12 22\";\n    if (k.includes(\"전동\") && k.includes(\"휠체어\")) return \"12 23\";\n    if (k.includes(\"경사로\") || k.includes(\"승강기\")) return \"18 30\";\n    if (k.includes(\"체위\") || k.includes(\"리프트\")) return \"12 31\";\n    if (k.includes(\"청각\") || k.includes(\"보청기\")) return \"21 06\";\n    if (k.includes(\"의사소통\")) return \"22 30\";\n    if (k.includes(\"지팡이\") || k.includes(\"보행기\")) return \"12 06\";\n    return \"15 09\";\n  }\n  \n  // 가격 정규화 (문자열에서 숫자만 추출)\n  function getPrice(priceStr) {\n    if (!priceStr) return null;\n    const num = String(priceStr).replace(/[^0-9]/g, '');\n    return num ? parseInt(num) : null;\n  }\n  \n  // 링크 정규화 (상대 경로를 절대 경로로)\n  function normalizeLink(link) {\n    if (!link) return null;\n    if (link.startsWith('http')) return link;\n    if (link.startsWith('/')) return `https://www.coupang.com${link}`;\n    return `https://www.coupang.com/${link}`;\n  }\n  \n  // 이미지 URL 정규화\n  function normalizeImage(image) {\n    if (!image) return null;\n    if (image.startsWith('http')) return image;\n    if (image.startsWith('//')) return `https:${image}`;\n    if (image.startsWith('/')) return `https://www.coupang.com${image}`;\n    return image;\n  }\n  \n  // 각 상품별로 데이터 조합\n  for (let i = 0; i < productCount; i++) {\n    const name = names[i] ? String(names[i]).trim() : null;\n    const price = prices[i] || null;\n    const image = images[i] || null;\n    const link = links[i] || null;\n    \n    // 상품명이 있어야만 추가\n    if (name && name.length > 0) {\n      results.push({\n        json: {\n          name: name,\n          iso_code: getIsoCode(name),\n          purchase_link: normalizeLink(link),\n          image_url: normalizeImage(image),\n          price: getPrice(price),\n          manufacturer: null,\n          category: \"coupang\",\n          description: null,\n          is_active: true\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "code-transform",
      "name": "HTML → Supabase 변환",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "split-batches",
      "name": "배치 처리",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "equals",
              "keyValue": "={{ $json.name }}"
            },
            {
              "keyName": "iso_code",
              "condition": "equals",
              "keyValue": "={{ $json.iso_code }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-get",
      "name": "중복 체크",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credential",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-node",
      "name": "기존 상품 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "equals",
              "keyValue": "={{ $('중복 체크').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('HTML → Supabase 변환').first().json.name }}"
            },
            {
              "fieldId": "iso_code",
              "fieldValue": "={{ $('HTML → Supabase 변환').first().json.iso_code }}"
            },
            {
              "fieldId": "purchase_link",
              "fieldValue": "={{ $('HTML → Supabase 변환').first().json.purchase_link }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $('HTML → Supabase 변환').first().json.image_url }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $('HTML → Supabase 변환').first().json.price }}"
            },
            {
              "fieldId": "manufacturer",
              "fieldValue": "={{ $('HTML → Supabase 변환').first().json.manufacturer }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $('HTML → Supabase 변환').first().json.category }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $('HTML → Supabase 변환').first().json.description }}"
            },
            {
              "fieldId": "is_active",
              "fieldValue": "={{ $('HTML → Supabase 변환').first().json.is_active }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-update",
      "name": "Supabase Update",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1650, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credential",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "products",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "iso_code",
              "fieldValue": "={{ $json.iso_code }}"
            },
            {
              "fieldId": "purchase_link",
              "fieldValue": "={{ $json.purchase_link }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json.image_url }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $json.price }}"
            },
            {
              "fieldId": "manufacturer",
              "fieldValue": "={{ $json.manufacturer }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldId": "is_active",
              "fieldValue": "={{ $json.is_active }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-create",
      "name": "Supabase Create",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1650, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credential",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "대기 (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "쿠팡검색페이지",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쿠팡검색페이지": {
      "main": [
        [
          {
            "node": "상품 정보 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상품 정보 추출": {
      "main": [
        [
          {
            "node": "HTML → Supabase 변환",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML → Supabase 변환": {
      "main": [
        [
          {
            "node": "배치 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "배치 처리": {
      "main": [
        [
          {
            "node": "중복 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "중복 체크": {
      "main": [
        [
          {
            "node": "기존 상품 있음?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기존 상품 있음?": {
      "main": [
        [
          {
            "node": "Supabase Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Update": {
      "main": [
        [
          {
            "node": "대기 (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Create": {
      "main": [
        [
          {
            "node": "대기 (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대기 (Rate Limit)": {
      "main": [
        [
          {
            "node": "배치 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-01T00:00:00.000Z",
  "versionId": "1"
}
